<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAqaJEyf2PiE5hmJlvgCjkdeMkv5NDf6IY</string>
	<key>GCM_SENDER_ID</key>
	<string>52820035016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cuidado_amigo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cuidadoamigo-ca5a7</string>
	<key>STORAGE_BUCKET</key>
	<string>cuidadoamigo-ca5a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52820035016:ios:809689f5fb2dc85728acfd</string>
</dict>
</plist>